.table-stat{
    display:table;
    width: 100%
}

.table-stat-row{
    display:table-row;
}

.table-stat-row.caption{
    background: #ccc;
}

.table-stat-row > div{
    display:table-cell;
    width: 50%;
    padding: 5px 15px;
}
